{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/1d98ebd11c.js" crossorigin="anonymous"></script>
</head>
{% block content %}

<body class="flex justify-center items-center h-screen bg-gray-100">
    <form id="fileForm" method="post" enctype="multipart/form-data" class="space-y-4 mx-auto"> 
        {% csrf_token %}
        
        <div class="flex flex-col items-center justify-center">
            <label for="file-upload" class="cursor-pointer bg-gray-200 text-gray-600 font-bold px-4 py-2 rounded-md hover:bg-white">
                Seleccionar archivo
            </label>
            {{ csvForm.file }} 
            <span id="file-name" class="mt-2 text-gray-500">Ningún archivo seleccionado</span>
            <button id="fileInput" type="button" class="bg-orange-200 text-gray-400 font-bold px-4 py-2 rounded-md flex mt-9 hover:bg-orange-400 hover:text-gray-800">
                Subir CSV
            </button>
        </div>
    </form>

    <script>
        // Actualizar el nombre del archivo al seleccionar uno
        function updateFileName(input) {
            const fileName = input.files[0] ? input.files[0].name : "Ningun archivo seleccionado";
            document.getElementById("file-name").textContent = fileName;
        }

        // Enviar el formulario sin recargar la página
        document.getElementById("fileInput").addEventListener("click", function(event) {
            event.preventDefault();
            
            const formData = new FormData(document.getElementById("fileForm"));
            fetch("http://127.0.0.1:8000/dashboard/temp_csv/", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}", 
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("file-name").textContent = "Archivo subido con éxito";
                window.location.reload(); 
            })
            .catch(error => {
                console.error("Error al subir el archivo:", error);
                document.getElementById("file-name").textContent = "Error al subir el archivo";
            });
        });
    </script>
</body>



{% endblock content %}
</html>


