/* Sidebar inicialmente oculto con animación */
.sidebar {
    transform: translateX(-100%); /* Oculto fuera de la pantalla */
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

/* Sidebar visible cuando se activa */
.sidebar-active {
    transform: translateX(0); /* Aparece en su posición normal */
    transition: transform 0.3s ease-in-out; /* Animación suave */
}
