{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/1d98ebd11c.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="h-full w-full flex justify-center">

    <div class="flex min-h-[45rem] h-auto w-3/4 border bg-white self-center justify-center flex-col rounded-lg space-y-3 shadow-2xl
    lg:max-w-[50%]
    xl:max-w-[35%]
    pb-12
    ">

        <div class="w-full h-1/4 flex-col flex mb-16 mt-20">
            <div class="bg-orange-500 bg-opacity-20 rounded-full text-center w-[6.5rem] h-auto self-center">
                <i class="fa-solid fa-bucket self-center justify-center my-4 text-7xl"></i>
            </div>
            <h1 class="self-center justify-center text-2xl font-bold">Registro</h1>
        </div>

        <form method="POST" class="flex h-full w-full self-center rounded-lg flex-col">
    
            {% csrf_token %}
                
            <div class="ml-10 mb-2 font-semibold text-xl xl:ml-[10%]">
                <span>Nombre</span>
            </div>
            {{ form.nombre }}
            {% if form.nombre.errors %}
            <div class="ml-10 mb-2 text-lg xl:ml-[10%] w-3/4 text-red-500">
                <p class="text-red-500">{{ form.nombre.errors }}</p>
            </div>
            {% endif %}
            
            <div class="ml-10 mb-2 font-semibold text-xl xl:ml-[10%]">
                <span>Correo electrónico</span>
            </div>
            {{ form.email }}
            {% if form.email.errors %}
            <div class="ml-10 mb-2 text-lg xl:ml-[10%] w-3/4 text-red-500">
                <p class="text-red-500">{{ form.email.errors }}</p>
            </div>
            {% endif %}
                
            
            <div class="ml-10 mb-2 font-semibold text-xl xl:ml-[10%] w-3/4">
                <span>Contraseña</span>
            </div>
            {{ form.password1 }}
            {% if form.password1.errors %}
            <div class="ml-10 mb-2 text-lg xl:ml-[10%] text-red-500">
                <p class="text-red-500">{{ form.password1.errors }}</p>
            </div>
            {% endif %}
                
            
            <div class="ml-10 mb-2 font-semibold text-xl xl:ml-[10%] ">
                <span>Confirme su contraseña</span>
            </div>
            {{ form.password2 }}
            {% if form.password2.errors %}
            <div class="ml-10 mb-2 text-lg xl:ml-[10%] w-3/4 text-red-500">
                <p class="text-red-500">{{ form.password2.errors }}</p>
            </div>
            {% endif %}
            
            
            <button type="submit" class="h-16 w-3/6 bg-white self-center mt-7 shadow-lg border border-black rounded-lg xl:text-xl">
                Registrarse
            </button>
        </form>
    </div>
</body>
</html>




