{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}

{% block content %}
<body class="flex h-screen bg-gray-200">
    <div class="fixed top-0 left-0  h-full hidden lg:block z-50" id="sidebar">
        {% include 'dash_bars/dash_sidebar.html' %}
    </div>
    
    <!-- nav+dash -->
    <div class="flex flex-col w-full
    lg:pl-[20rem]">
        <div class="min-h-28 fixed top-0 w-full z-30 self-center
        sm:w-[90%]
        lg:w-[60%]"
        id="navbar">
            {% include 'dash_bars/dash_navbar.html' %}
        </div>

        <div class="flex items-center flex-col border mx-4 mt-24 space-y-6 pb-10
        lg:ml-9
        xl:mr-6">
        {% include 'charts/line_chart.html' %}
        </div>

        <div class="flex items-center flex-col border mx-4 space-y-6 bg-white rounded-lg shadow-lg
        lg:ml-9
        xl:mr-6">



        
        <form method="POST" id="chartForm" class="text-left text-[#344767] font-semibold flex flex-wrap 
        w-full gap-4 px-4 py-4 justify-center">
        {% csrf_token %}
        <input class="hidden" type="number" id="chartNumbers" name="chartNumbers" min="1" value="{{ chartNumbers }}">
        <!--Este define el numero de opciones que se van a generar, esta oculto, pero 
        mas tarde, deberia ser el que calcula la cantidad de variables de entrada y entregar
        el numero de opciones generadas.-->
        <div>
            <p>Tipo de gráfico</p>
            <select id="chartTypeSelect" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>
        </div>
        {% for i in chartValues %}
        <div>
            <p>Color de variable {{ forloop.counter }}</p>
            <select id="chartColorSelect{{ i }}" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>
        </div>
        {% endfor %}
        {% for i in chartValues %}
        <div>
            <p>Color de detalles {{ forloop.counter }}</p>
            <select id="detailColorSelect{{ i }}" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>
        </div>
        {% endfor %}
        <div id="dynamicColorSelectors" style="display: none;"></div> <!-- Este div debe estar inicialmente oculto -->
        
        <div>
            <p>Mostrar etiquetas</p>
            <select id="labelSelect" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>
        </div>
        
        <div>
            <p>Mostrar leyenda</p>
            <select id="legendSelect" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>
        </div>

        <div>
            <p>Apilar datos</p>
            <select id="stackSelect" class="w-[9rem] py-2 px-4 bg-white border rounded-lg text-gray-900 mt-2 shadow-md"></select>

        </div>
    
        <div class="flex flex-col w-[19.3rem] border border-gray-500 py-3 pl-2 shadow-md rounded-lg">
            <p id="widthValueDisplay"></p>
            <input id="widthSelect" type="range" min="10" max="70" value="35" class="w-72">
        </div>
    
        <div class="flex flex-col w-[19.3rem] border border-gray-500 py-3 pl-2 shadow-md rounded-lg">
            <p id="detailWidthDisplay"></p>
            <input id="detailWidthSelect" type="range" min="1" max="40" value="10" class="w-72">
        </div>
    </form>




        

        </div>
        </div>
    </div>
    </div>


<script type="text/javascript" src="{% static 'js/chart_customizer.js' %}"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
<script src="https://kit.fontawesome.com/1d98ebd11c.js" crossorigin="anonymous"></script>
</body>
{% endblock content %}
