{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="h-full w-full flex justify-center bg-gray-200 bg-opacity-15">
    <div class="flex h-2/4 w-3/4 border bg-white self-center justify-center flex-col rounded-lg">



        
        <div class="w-full h-1/4 flex-col flex mb-16">
            <img src="{% static 'img/github_logo.png' %}" alt="" class="h-20 w-20 self-center justify-center">
            <h1 class="self-center justify-center">Inicio de sesion</h1>
        </div>
        <p class="ml-10 mb-2">Correo</p>

        {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
        {% endif %}
            <form action="" method=POST class="flex h-16 w-3/4 border self-center rounded-lg flex-col">
            {% csrf_token %}
            <input type="text" class="flex h-full w-full border self-center rounded-lg" name="username">
            <p class="ml-10 mb-2">contrasena</p>
            <input type="text" class="flex h-full w-full border self-center rounded-lg" name="password">
            <button type="submit" class="h-2 w-2 bg-slate-700">submit</button>
            <!--<p class="self-center ml-3 opacity-30 text-gray-700">correo@ejemplo.com</p>-->
        </form>


        <p class="text-xs text-blue-400 opacity-60 ml-10">¿Olvidaste tu contraseña?</p>
    </div>
    
</body>
</html>