{% extends 'landing/navbar.html' %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}
{% block title %} Home {% endblock title %}

<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <script src="https://kit.fontawesome.com/1d98ebd11c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<div class="h-screen w-screen">
    {% include 'landing/navbar.html' %}  


    <div class="w-full h-2/3 flex overflow-hidden ">
        <div class="h-full flex flex-row flex-nowrap transition-all duration-500 ease-in-out" id="slider-inner">
            
            <!-- Slide 1 -->
            <div class="w-full h-full flex-shrink-0 relative">
                <img src="{% static 'img/contabilidad4.jpg' %}" alt="" class="w-full h-full object-cover opacity-80">
                <div class="w-4/5 h-auto bg-black bg-opacity-40 flex flex-col p-6 pt-3 ml-4 z-10 gap-y-10 text-wrap self-center absolute bottom-10
                            lg:w-3/5 lg:ml-10
                            xl:h-auto 2xl:h-auto">
            
                    <p class="text-white text-4xl font-extrabold
                                sm:text-5xl">
                        Las ventajas de la contabilidad digital
                    </p>
                    <p class="text-white text-xl font-semibold
                                sm:text-4xl sm:font-normal
                                2xl:text-5xl">
                        Pero sin los problemas ni complicaciones de por medio
                    </p>
                </div>
            </div> 
            <!-- Slide 1 -->

            <!-- Slide 2 -->
            <div class="w-full h-full flex-shrink-0 relative">
                <img src="{% static 'img/contabilidad3.jpg' %}" alt="" class="w-full h-full object-cover opacity-80">
                <div class="w-4/5 h-auto bg-black bg-opacity-40 flex flex-col p-6 pt-3 ml-4 z-10 gap-y-10 text-wrap self-center absolute bottom-10
                            lg:w-3/5 lg:ml-10
                            xl:h-auto 2xl:h-auto">
            
                    <p class="text-white text-4xl font-extrabold
                                sm:text-5xl">
                        Facilite las cuentas de su negocio
                    </p>
                    <p class="text-white text-xl font-semibold
                                sm:text-4xl sm:font-normal
                                2xl:text-5xl">
                        Se acabaron los tiempos de calcular las cuentas a mano
                    </p>
                </div>
            </div>
            <!--<div> Slide 2 -->
        </div>
    </div>
    
    <div class="w-full bg-black bg-opacity-10 pb-20 border-gray-200 border border-opacity-60"> 
    <div class="w-3/4 h-max flex flex-col mx-auto
    text-center space-y-3 
    self-center justify-self-center text-wrap items-center">

    <span class="flex justify-center text-2xl font-extrabold pt-12 w-full self-center">
        Nuestra misión
    </span>    

        <p class="font-3xl font-deep-gray-custom w-3/4">
            Queremos hacer el traspaso de las cuentas de papel a digital mediante el uso de distintas herramientas y tecnología 
            Usando distintas herramientas hechas para emular las funciones que tienen los programas de contabilidad 
            para ayudar a las personas que les puede parecer agobiante el cambio a llevar las cuentas de forma digital
        </p>

    <span class="flex justify-center text-2xl font-extrabold pt-12 w-full self-center">
        ¿Como lo hacemos?
    </span>    
    <p class="font-3xl font-deep-gray-custom w-3/4">
        Creamos herramientas que emulan las funciones de los programas de contabilidad pero en una interfaz mas amigable y facil de usar,
        junto con esto, también facilitamos la creación de graficos y de reportes con la misma facilidad de uso que las otras herramientas.
    </p>
        </div>
    </div>

    <div class="w-full h-max flex flex-col 
    xl:w-3/4 xl:mx-auto text-center">

        <span class="flex justify-center text-4xl font-extrabold pt-12 w-full self-center">
            ¿Por qué elegir DataBuckets?
        </span>
    

    </div>
        <!-- Tarjetas -->
        <div class="w-4/5 text-center py-10 px-5 mt-8 justify-center self-center space-y-3 shadow-none 
        mx-auto
        xl:flex 
        xl:flex-row 
        xl:w-full 
        xl:space-y-0 
        xl:gap-8">
        
        <!-- Tarjeta #1 -->
        <div class="shadow-xl flex-grow flex-shrink w-full text-center py-10 px-5 justify-center self-center space-y-3 
            xl:w-1/3
            xl:min-h-full">
            <div class="w-24 h-24 mx-auto bg-orange-200 bg-opacity-20 rounded-full flex justify-center items-center">
                <i class="fa-solid fa-clock text-5xl"></i>
            </div>
            <p class="font-bold text-3xl font-deep-gray-custom">Facilidad de uso</p>
            <p class="text-xl font-gray-custom">Nuestras herramientas simplifican el proceso de anotar datos
                para que mueva sus datos del papel a digital rapidamente
            </p>
        </div>
    
        <!-- Tarjeta #2 -->
        <div class="shadow-xl flex-grow flex-shrink w-full text-center py-10 px-5 justify-center self-center space-y-3 
            xl:w-1/3
            xl:min-h-full">
            <div class="w-24 h-24 mx-auto bg-orange-200 bg-opacity-20 rounded-full flex justify-center items-center">
                <i class="fa-solid fa-chart-simple text-5xl"></i>
            </div>
            <p class="font-bold text-3xl font-deep-gray-custom">Gráficos y reportes</p>
            <p class="text-xl font-gray-custom">Facilmente cree graficos y emita reportes a partir de la información ingresada</p>
        </div>
    
        <!-- Tarjeta #3 -->
        <div class="shadow-xl flex-grow flex-shrink w-full text-center py-10 px-5 justify-center self-center space-y-3 
            xl:w-1/3
            xl:min-h-full">
            <div class="w-24 h-24 mx-auto bg-orange-200 bg-opacity-20 rounded-full flex justify-center items-center">
                <i class="fa-solid fa-gift text-5xl"></i>
            </div>
            <p class="font-bold text-3xl font-deep-gray-custom">Es gratis</p>
            <p class="text-xl font-gray-custom">Comience su proceso de digitalización totalmente gratis, no le pediremos su tarjeta al empezar</p>
        </div>
    </div>
    
    
        <!-- Texto y botón "Contratar" al final -->
        <div class="flex flex-col space-y-10 px-7 mb-10 w-full pb-20">
            
            <p class="text-center font-extrabold font-deep-gray-custom text-4xl">
                Comience a usar databuckets hoy
            </p>
            <a href="{% url 'user_register' %}" class="self-center w-4/5 h-24">
            <button class="border border-orange-500 border-opacity-30 w-full h-24 text-center 
            shadow-2xl self-center text-4xl font-black text-orange-500
            hover:bg-orange-500
            hover:text-white
            transition-all 
            duration-300 
            transform hover:scale-105">
                <p>Registrarse</p>
            </button>
        </a>
        </div>
    </div>


    


<script src="{% static 'js/slider.js' %}"></script>


{% endblock content %}

</html>