<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load static tailwind_tags %}
{% tailwind_preload_css %}
{% tailwind_css %}

<head>
    <script src="https://kit.fontawesome.com/1d98ebd11c.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

            {% endblock %}
    </title>
    <!-- Tabla de anchos minimos para consideracion de cada medida -->                      
    <!-- sm: 640px -->
    <!-- md: 768px -->
    <!-- lg : 1024px -->
    <!-- xl: 1280px -->
    <!-- 2xl: 1536px-->
    <!-- Sin especificar: [Global(?)]-->
    <!-- Se programa mobile sin especificar primero, luego se agregan los breakpoints para pantallas mas grandes-->
</head>
<body> 
    {% block content %}
    <div class="z-40 w-full content-center justify-center flex
    sm:px-[5%]
    lg:px-[10%]">
        <div class=" h-16 w-full flex mx-4 border-opacity-50">

                <i class="fa-solid fa-bucket self-center justify-center my-4 text-3xl text-orange-500 ml-8"></i>

            <div class="h-7 flex-shrink-0 self-center ml-auto">
                <a href="#" id="menuBtn" class="md:hidden mr-8">
                    <i class="fa-user fa-solid text-2xl inline-block flex-shrink-0 self-center ml-auto" id="icon"></i>
                </a>
                <div class="hidden md:inline-block text-black">
                    
                
                <a class="inline-flex mr-4"href="{% url 'login' %}">
                    <h1 class="font-bold">Iniciar sesion</h1>
                </a>
                <a class="inline-flex"href="{% url 'user_register' %}">
                    <h1 class="font-bold ">Registrarse</h1>
                </a>
                </div>
        </div>
<!--           <a href="#" class="h-7 inline-block flex-shrink-0 self-center ml-5 z-30" id="menuBtn">
                <img src="{% static 'img/three_dots.png' %}" alt="options" class="h-7 inline-block flex-shrink-0 self-center ml-5 text-black" id="icon">
            </a>
            --> 
            <!-- Contenedor para el fondo oscuro -->
            <div id="overlay" class="hidden absolute inset-0 bg-black bg-opacity-50 z-20 w-full h-full"></div>
            
            <!-- Menu -->

            <!--Despues de mockups, esto cambia un poco, retocar mas tarde.-->
            <div id="menu" class="absolute right-3 mt-2 rounded-lg  w-52 h-36 bg-white bg-opacity-95 flex flex-col items-center justify-center z-20 gap-y-6 scale-x-0 
                text-black transition-transform duration-3009 origin-right font-bold text-center text-xl flex-grow overflow-auto
                sm:w-60 sm:mr-[5%]
                md:text-2xl
                ">
                <a href="{% url 'login' %}" class="space-x-3 inline-flex">
                    <i class="fa-user fa-solid text-2x" class="inline-flex"></i>
                    <p>Iniciar sesión</p>
                </a>
                <div class="border border-gray-200 w-4/5"></div>
                <a href="{% url 'user_register' %}" class="space-x-3 inline-flex">
                    <i class="fa-key fa-solid text-2x" class="inline-flex"></i>
                    <p>Registrarse</p>
                </a>

            </div>
        </div>
    </div>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% endblock content %}
</body>

</html>